<h1 class="text-center">Hello MVC</h1>
<p class="text-center">This is my first page</p>
<h2 class="text-center">Our products</h2>
<table class="table">
    <tr>
        <th>#</th>
        <th>Product</th>
        <th>Price</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {{#each products}}
    <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>${{price}}</td>
        <td><a href="show/{{id}}">Show</a></td>
        <td><a href="edit/{{id}}">Edit</a></td>
        <td><a href="/delete/{{id}}">Delete</a></td>
    </tr>
    {{/each}}
</table>
<div class="d-flex justify-content-center">
    <a href="/add" class="btn btn-primary">Add a product</a>
</div>
